<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paralax</title>
    <link rel="stylesheet" href="./app.component.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

    <div class="top">
        <div class="perspective">
            <div class="card">
                <div class="thumb"></div>
                <h2></h2>
                <h3>Dreaming To Realistics</h3>
            </div>
        </div>
    </div>
</body>
</html>